FLASK_SECRET_KEY=change-this-to-a-long-random-secret
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

MQTT_BROKER=i26a1c71.ala.asia-southeast1.emqxsl.com
MQTT_PORT=8883
MQTT_USER=smartnest_client
MQTT_PASS=change-me

HOST=0.0.0.0
PORT=5000
